In [4]:
x = ["Now", "we", "are", "cooking!"]
type(x)
print(x)

['Now', 'we', 'are', 'cooking!']

In [5]:
x = ["Now", "we", "are", "cooking!"]
len(x)

4

In [6]:
x = ["Now", "we", "are", "cooking!"]
"are" in x

True

In [10]:
x = ["Now", "we", "are", "cooking!"]
print(x[0])
print(x[3])

Now
cooking!

In [11]:
x = ["Now", "we", "are", "cooking!"]
x[1:3]

['we', 'are']

In [12]:
x = ["Now", "we", "are", "cooking!"]
x[:2]

['Now', 'we']

In [13]:
x = ["Now", "we", "are", "cooking!"]
x[2:]

['are', 'cooking!']

## Modifying the contents of a list

In [15]:
fruits = ["Pineapple", "orange", "banana", "melon", "apple"]
fruits.append("kiwi")
print(fruits)

['Pineapple', 'orange', 'banana', 'melon', 'apple', 'kiwi']

In [16]:
fruits = ["Pineapple", "orange", "banana", "melon", "apple"]
fruits.insert(0, "Orange")
print(fruits)

['Orange', 'Pineapple', 'orange', 'banana', 'melon', 'apple']

In [19]:
fruits = ["Pineapple", "orange", "banana", "melon", "apple"]
fruits.insert(0, "orange")
fruits.insert(25, "Peach")
fruits.remove("melon")
print(fruits)

['orange', 'Pineapple', 'orange', 'banana', 'apple', 'Peach']

In [21]:
fruits = ["Pineapple", "orange", "banana", "melon", "apple"]
fruits.insert(0, "Jackfruit")
fruits.insert(25, "Peach")
fruits.remove("melon")
fruits.pop(3)
print(fruits)

['Jackfruit', 'Pineapple', 'orange', 'apple', 'Peach']

In [23]:
fruits = ["Pineapple", "Banana", "Apple", "Melon"]
fruits.insert(0, "Orange")
fruits.insert(25, "Peach")
fruits.remove("Melon")
fruits.pop(3)
fruits[2] = "Strawberry"
print(fruits)

['Orange', 'Pineapple', 'Strawberry', 'Peach']

## List and tuples

In [ ]:
fullname = ('Grace', 'M', 'Hopper')
print(fullname)

('Grace', 'M', 'Hopper')

In [26]:
def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    remaining_seconds = seconds - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds
result = convert_seconds(5000)
type(result)

tuple

In [27]:
def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    remaining_seconds = seconds - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds
result = convert_seconds(5000)
print(result)

(1, 23, 20)

In [28]:
def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    remaining_seconds = seconds - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds
result = convert_seconds(5000)
hours, minutes, seconds = result
print(hours, minutes, seconds)

1 23 20

In [29]:
def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    remaining_seconds = seconds - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds
hours, minutes, seconds = convert_seconds(1000)
print(result)

(1, 23, 20)

## Iterating over lists and tuples

In [30]:
animals = ["lion", "zebra", "dolphin", "monkey"]
chars = 0
for animal in animals:
    chars += len(animal)

print("Total characters: {}, Average length: {}".format(chars, chars/len(animals)))

Total characters: 22, Average length: 5.5

In [32]:
winners = ["Ashley", "Dylan", "Reese"]
for index, person in enumerate(winners):
    print("{} - {}".format(index + 1, person))

1 - Ashley
2 - Dylan
3 - Reese

In [33]:
def full_emails(people):
    result =[]
    for email, name in people:
        result.append("{} <{}>".format(name, email))
    return result
print(full_emails([("alex@example.com", "Alex Diego"), ("shay@example.com", "Shay Brandt")]))

['Alex Diego <alex@example.com>', 'Shay Brandt <shay@example.com>']

### List comprehensions

In [34]:
multiples = []
for x in range(1, 11):
    multiples.append(x*7)

print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [35]:
multiples = [x*7 for x in range(1, 11)]
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [36]:
languages = ["python", "perl", "ruby", "go", "java", "C"]
lengths = [len(language) for language in languages]
print(lengths)

[6, 4, 4, 2, 4, 1]

In [37]:
z = [x for x in range(0,101) if x % 3 == 0]
print(z)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

### List Comprehension Examples

In [ ]:
new_list = []
for thing in list_of_things:
    new_list.append(do_something(thing))

In [ ]:
# more concise way
new_list = [do_something(thing) for thing in list_of_things]

In [2]:
numbers = [(1, 2, 3) for _ in range(5)]

### `for` loop vs. list comprehension

In [3]:
print("List comprehension result:")

print([x*2 for x in range(1, 11)])

print("Long form code result:")

my_list = []
for x in range(1, 11):
    my_list.append(x*2)
print(my_list)

List comprehension result:
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Long form code result:
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### List comprehension with conditional statement

In [4]:
print("List comprehension result:")
print([x for x in range(1, 101) if x % 10 == 0])

print("Long form code result:")
my_list = []
for x in range(1, 101):
    if x % 10 == 0:
        my_list.append(x)
print(my_list)

List comprehension result:
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Long form code result:
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [6]:
# tuple()
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)

print(my_tuple)

my_tuple = 1, 2, 3, 4
print(my_tuple)

(1, 2, 3, 4)
(1, 2, 3, 4)

In [7]:
# Tuple() with multiple objects
my_tuple = (1, 2, ['a', 'b', 'c'])

my_tuple[2][0] = 'x'
print(my_tuple)

(1, 2, ['x', 'b', 'c'])

### Returning multiple values from functions

In [8]:
def calculate_numbers(a, b):
    return a+b, a-b, a*b, a/b
result = calculate_numbers(10, 2)
print(result)

(12, 8, 20, 5.0)

In [9]:
def calculate_numbers(a, b):
    return a+b, a-b, a*b, a/b

add_result, sub_result, mul_result, div_result = calculate_numbers(10, 2)

print(add_result)
print(sub_result)

12
8