# Strings.

What is a string?

- A string is a data type in Python that's used to represent a piece of text.

In [1]:
last_name = "Corleone"
first_name = "Vito"

In [5]:
name = "Vito"
last_name = "Corleone"

print("Name: " + name + "\nLast name: " + last_name)

Name: Vito
Last name: Corleone

In [6]:
"example" * 3

'exampleexampleexample'

In [7]:
pet = "loooooooooooooong cat"
len(pet)

21

The parts of a String--

In [13]:
# String Indexing. 

name = "Corleone"
print(name[1])

# Python starts counting indexes from 0; just like range() func

print(name[0])

print(name[7])
print(name[-1])

o
C
e
e

In [ ]:
text = "Random string with a lot of characters"
print(text[-1])
print(text[-2])
len(text)

s
r

38

## Slice

- The portion of a string that can contain more than one character; also sometimes called a substring.

In [16]:
color = "Orange"
color[1:4]

'ran'

In [18]:
fruit = "Pineapple"
print(fruit[:4])
print(fruit[4:])

Pine
apple

## Creating new Strings.

In [ ]:
message = "A kong string with a silly typo"
message[2] = "l"

# This will throw an error. 
# Strings in python are immutable.

In [27]:
message = "A kong string with a silly typo"
new_message = message[0:2] + "l" + message[3:]
print(new_message)

A long string with a silly typo

In [28]:
message = "This is a new message"
print(message)
message = "And another one"
print(message)

This is a new message
And another one

In [32]:
pets = "Cats & Dogs"

pets.index("&")
pets.index("C")
pets.index("Dog")
pets.index("s")

3

In [33]:
pets = "Cats & Dogs"
"Dragons" in pets
"Cats" in pets

True

In [34]:
def replace_domain(email, old_domain, new_domain):
    if "@" + old_domain in email:
        index = email.index("@" + old_domain)
        new_email = email[:index] + "@" + new_domain
        return new_email
    return email

## Basic String Methods

In [3]:
animals = "lions tigers and bears"
animals.index("g")

8

In [4]:
animals = "lions tigers and bears"
animals.index("bears")

17

In [5]:
animals = "lions tigers and bears"
"horses" in animals

False

In [6]:
animals = "lions tigers and bears"
"tigers" in animals

True

## More String methods

In [8]:
"Mountains".upper()
"Mountains".lower()

'mountains'

In [9]:
answer = "YES"
if answer.lower() == "yes":
    print("User said yes")

User said yes

In [10]:
"yes".strip()

'yes'

In [11]:
" yes ".strip()
" yes ".lstrip()
" yes ".rstrip()

' yes'

In [12]:
"The number of times e occurs in this string is 4".count("e")

4

In [13]:
"Forest".endswith("rest")

True

In [15]:
"Forest".isnumeric()
"12345".isnumeric()

True

In [16]:
int("12345") + int("54321")

66666

In [18]:
" ".join(["This", "is", "a", "phrase", "joinded", "by", "spaces"])
"...".join(["This", "is", "a", "phrase", "joined", "by", "triple", "dots"])

'This...is...a...phrase...joined...by...triple...dots'

In [19]:
"This is another example".split()

['This', 'is', 'another', 'example']

## Formatting strings

In [24]:
name = "Manny"
number = len(name) * 3
print("Hello {}, your lucky number is {}".format(name, number))

Hello Manny, your lucky number is 15

In [25]:
name = "Manny"
print("Your lucky number is {number}, {name}.".format(name=name, number=len(name)*3))

Your lucky number is 15, Manny.

In [31]:
price = 7.5
with_tax = price * 1.09
print(price, with_tax)
print("Base price: ${:.2f}. With Tax: ${:.2f}".format(price, with_tax))

7.5 8.175
Base price: $7.50. With Tax: $8.18

In [32]:
def to_celsius(x):
    return (x-32)*5/9

for x in range(0,101,10):
    print("{:>3} F | {:>6.2f} C".format(x, to_celsius(x)))

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C